@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Ubuntu:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bisuLogo{
	height: 100vh;
	/*border: 1px solid black;*/
	width: 35%;

}

.LoginForm{
	height: 100vh;
	/*border: 1px solid black;*/
	width: 65%;
}

.bisuLogo img{
	width: 100%;
	height: 100vh;
	
}

.blue{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 100vh;
	background-color: rgba(49, 1, 101, 80%);
	position: absolute;
}


.LoginForm{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.loginContainer{
	/*border: 1px solid black;*/
	width: 70%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.admin{
	width: 350px;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 2rem;
	gap: .5rem;
}

.line{
	background-color: #310165;
	height: 40px;
	width: 7px;
}

.email{
	/*border: 1px solid black;*/
	display: flex;
	justify-content: left;
	align-items: center;
}

.email input, .password input{
	width: 350px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 2px;
	border-color: #D9D9D9;
	color: #838181;
}

.login{
	gap: 8.4rem;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.remember{
	gap:  .5rem;
	display: flex;
	justify-content: left;
	align-items: center;
}

.button{
	height: 35px;
	background-color: #310165;
	color: white;
	width: 100px;
	border: none;
}

.blue img{
	width: 140px;
	height: 140px;
	opacity: 0.8;
}

@media only screen and (max-width: 670px) {
  .bisuLogo{
  	width: 100%;
  	height: 15vh;
  	
  }
  .blue{
  	width: 100%;
  	height: 15vh;

  }
  .bisuLogo img{
  	height: 15vh;
  }

  .blue img{
  	width: 80px;
		height: 80px;
  }

  .container{
  	flex-direction: column;
  }
  .remember{
  	width: 60%;
  	/*border:  1px solid black;*/
  }

  .LoginForm{
  	margin-bottom: 7rem;
  }

  .admin{
  	justify-content: center;
  }

  .email input, .password input{
  	width: 300px;
  }

  .login{
  	/*border: 1px solid black;*/
  	gap: 6.2rem;
  }


}